<!DOCTYPE html>
<html>
<head>
    <title>Products in {{ category.name }}</title>
</head>
<body>
    <h1>Products in {{ category.name }}</h1>
    <ul>
        {% for product in products %}
            {% comment %} <li>{{ product.name }} - {{}}-{{ product.price }}</li> {% endcomment %}
            <div>
                <p>
                    Product Name: {{ product.name }} <br>
                    Description: {{ product.description }} <br>
                    Price: {{product.price}} <br>
                </p>
            </div>

        {% endfor %}
    </ul>
    <a href="{% url 'category_list' %}">Back to Categories</a>
</body>
</html>
