<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <body>
        <h1>Admin Dashboard</h1>
        <h2>Categories</h2>
        <ul>
            {% for category in categories %}
                <li>{{ category.name }} 
                    <a href="{% url 'update_category' category.pk %}">Edit</a> 
                    <a href="{% url 'delete_category' category.pk %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_category' %}">Add Category</a>
        <h2>Products</h2>
        <ul>
            {% for product in products %}
            <div>
                <p>
                    Product Name: {{ product.name }} <br>
                    Description: {{ product.description }} <br>
                    Price: {{product.price}} <br>
                </p>
            </div>
                <li>
                    <a href="{% url 'update_product' product.pk %}">Edit</a> 
                    <a href="{% url 'delete_product' product.pk %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_product' %}">Add Product</a>
</body>
</html>